<!DOCTYPE html>
<html class="modern">
<head>
	<title>平台公告_掌悦理财</title>
 	<meta charset="UTF-8">
	<meta name="renderer" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="baidu-site-verification" content="oc1NcyXtkV" />
    <meta name="keywords" content="平台公告，掌悦理财">
    <meta name="description" content="掌悦理财网平台最新动态公告 ">
    <link rel="shortcut icon" href="https://www.zhangyuelicai.com/static/images/favicon.ico" type="image/x-icon">
    <link href="https://www.zhangyuelicai.com/static/css/bootstrap.css" rel="stylesheet">
	<link href="https://www.zhangyuelicai.com/static/css/index.css" rel="stylesheet">
	<link href="https://www.zhangyuelicai.com/static/css/fixed_period.css" rel="stylesheet">
	

    <script src="https://www.zhangyuelicai.com/static/js/public/jquery-2.1.3.min.js"></script>

	<script src="https://www.zhangyuelicai.com/static/js/public/bootstrap.min.js"></script>

	<script src="https://www.zhangyuelicai.com/static/js/public/require.min.js"></script>
	<script src="https://www.zhangyuelicai.com/static/js/public/jquery.page.js"></script>
    <script src="https://www.zhangyuelicai.com/static/js/component.js"></script>   
	<script src="https://www.zhangyuelicai.com/static/js/loadTemplates.js"></script>
  </head>
  <body id="index">
    
<div data-navname="notice" id="header-box">
	<!-- 顶部条 -->
<div class="top-box1">
    <div class="warp-box">
                <div style="float: left;">
                    <p style="height: 34px; line-height: 34px;">客服热线400-611-8088</p>
                </div>
                <div id="notLogin" style="display: none;float: right;">
                    您好，请<a id="showLogin" class="showUserCentent" data-id="userLoginBox" href="javascript:;">登录</a>
                    <a id="regBtn" class="showUserCentent" data-id="userRegBox" href="javascript:;" style="color: #fbb219 !important; margin-left: 20px; margin-right: 18px">免费注册</a>
                    <span>|</span>
                    <div class="headerAppcode">
                        <span>手机投资</span>
                        <div class="headerAppCodeShow">
                            <div class="triangle-outer"></div>
                            <div class="triangle-inner"></div>
                            <img src="https://www.zhangyuelicai.com/static/images/qrcode.png"/>
                        </div>
                    </div>
                </div>
                <div style="display: none;float: right;" id="loginStatus" >
                    <div id="nickName" style="position: relative;">
                        <a href="/account.html">
                            <span></span>
                            <i class="icon-down"></i>
                        </a>
                        <div class="pop-account-my">
                            <div class="sp2">
                                <div class="row2">
                                    <div class="col1">可用余额</div>
                                    <div class="col2">****</div>
                                </div>
                                <div class="row2">
                                    <div class="col1">可用红包</div>
                                    <div class="col2">****</div>
                                </div>
                                <div class="row2">
                                    <div class="col1">累计收益</div>
                                    <div class="col2">****</div>
                                </div>
                                <div class="row2">
                                    <div class="col1">冻结金额</div>
                                    <div class="col2">****</div>
                                </div>
                               <div class="row2">
                                    <div class="col1">总资产</div>
                                    <div class="col2">****</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a id="loginOut" href="#" style="margin-left: 20px; margin-right: 18px">退出</a>
                    <span>|</span>
                    <div class="headerAppcode">
                        <span>手机投资</span>
                        <div class="headerAppCodeShow">
                            <div class="triangle-outer"></div>
                            <div class="triangle-inner"></div>
                            <img src="https://www.zhangyuelicai.com/static/images/qrcode.png"/>
                        </div>
                    </div>
                </div>
                
    </div>
</div>
<!-- 导航 -->
<div class="top-box2" id="sidebar_top">
    <div class="warp-box">
        <div class="col-a"><a href="/index.html"><img src="https://www.zhangyuelicai.com/static/images/logo.png" alt="掌悦理财" title="掌悦理财"></a></div>
        <div class="col-b">
            <a class="index" href="/index.html">首页<i></i></a>
            <a class="product-t0" href="/product-t0.html">活期<i></i></a>
            <a class="product-tn-list" href="/product-tn-list.html">定期<i></i></a>
            <a class="fundcon" href="http://www.erichfund.com" target="view_window" rel="nofollow">基金<i></i></a>
            <a class="baoxian" href="http://wx.100bbx.com/productMenu?&pid=specialInsu&type=" target="view_window" rel="nofollow">保险<i></i></a>
            <a class="safety" href="/safety.html">安全保障<i></i></a>
            <a class="aboutUs" href="/aboutUs.html" >关于我们<i></i></a>
            <a class="account" style="padding-right: 0px;">
                <div onclick="window.goHref('/account.html')" class="account-btn" style="padding-left: 30px;">  
                    我的账户<font size="2">></font><span onclick="window.goHref('/account-message.html')" class="badge messgaeNoRead messgaeNoRead0">0</span>  
                </div>  
                <div class="pop-account">
                    <div class="row1">
                        <div class="col1"></div>
                        <div class="col2" style="width: 190px">
                            <p style=" height: 24px; line-height: 24px; margin: 0">尊敬的用户</p>
                            <p style=" height: 24px; line-height: 24px; margin: 0">欢迎来到掌悦理财</p>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <span class="sp2">
                        <div class="row2" onclick="window.goHref('/account.html')">
                            <div class="col1">资产总览</div>
                            <div class="col2">****</div>
                        </div>
                        <div class="row2" onclick="window.goHref('/account-myt0.html')">
                            <div class="col1">我的活期</div>
                            <div class="col2">****</div>
                        </div>
                        <div class="row2" onclick="window.goHref('/account-mytn.html')">
                            <div class="col1">我的定期</div>
                            <div class="col2">****</div>
                        </div>
                        <div class="row2" onclick="window.goHref('/account-message.html')">
                            <div class="col1">消息中心</div>
                            <div class="col2"><span class="badge messgaeNoRead messgaeNoRead1" style="margin-right: 5px">0</span>条未读</div>
                        </div>
                        <div class="row3">
                            <div class="recharge-btn" style="cursor: pointer;" onclick="window.goHref('/account-deposit.html')">账户充值</div>
                        </div>
                    </span>
                </div>
            </a>
        </div>
        <div class="clear"></div>
    </div>
</div>

</div>


<div class="middle-box">
	<div class="warp-box">
		<div class="notice-content public-content-boxs" style="padding: 0;"  id="notice-list">
			<h3 class="notice-h3">平台公告</h3>
			<ul class="notice-ul" id="notice"> 
				<?php
				if(is_array($data)){
					foreach($data as $k=>$v){?>
								<li>
									<a href="<?php echo $v['oid'];?>.html" target="_blank">
										<span><?php echo $v['title'];?><i class="notice_new"><?php echo $v['subscript'];?></i>   </span>
										<span class="notice-time"><?php echo $v['onShelfTime'];?></span>
									</a>
                                </li>
					<?php } }?>
				
			</ul>
			<div class="tcdPageCode" style="display: block; padding: 15px 69px;">
				<?php echo $pageInfo;?>
		</div>	
   </div>
</div>
    


	<div>
<div class="footer-box">
	<div class="warp-box">
		<div class="footer-conter">
			<div class="footer-text">
				<ul>
					<li>关于掌悦</li>
					<li><a href="/aboutUs.html#introduce">平台简介</a></li>
					<li><a href="/information/lczs/">掌悦资讯</a></li>
					<li><a href="/aboutUs.html#culture">企业文化</a><li>
					<li><a href="/aboutUs.html#manage">管理团队</a></li>
					<li><a href="/aboutUs.html#contact">联系我们</a></li>
				</ul>
				<ul>
					<li>帮助中心</li>
                    <!--<li><a href="/Q&A.html?problem=question">常见问题</a></li>-->
                    <li><a href="/Q&A.html">常见问题</a></li>
                    <li style="opacity:0;width: 1px;height: 1px;overflow: hidden;"><a href="https://www.zhangyuelicai.com/information/sitemap/sitemap.xml">网站地图</a></li>
				</ul>
			</div>
			<div class="footer-img">
				<dl>
					<dt><img data-original="https://www.zhangyuelicai.com/static/images/gzh.png"/></dt>
					<dd>关注掌悦微信</dd>
				</dl>
				<dl>
					<dt><img data-original="https://www.zhangyuelicai.com/static/images/downs-img.png"/></dt>
					<dd>下载APP</dd>
				</dl>
			</div>
			<div class="footer-phone">
				<h2>客服热线</h2>
				<h1>400-611-8088</h1>
				<p class="times">( 人工服务时间：09:00~18:00 )</p>
				<p>联系邮箱：kefu@zhangyuelicai.com</p>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="warp-box">
			<p class="lianjie">
				<span>友情链接：</span>
				<a target="_blank" href="http://shanghai.dachenglaw.com/" rel="nofollow">大成律师事务所</a>
            	<a target="_blank" href="http://www.minanins.com/maechannel/home.do" rel="nofollow">亚太财险</a>
            	<a target="_blank" href="http://www.jytpay.com/" rel="nofollow">金运通支付</a>
                <a target="_blank" href="http://www.guohuaigroup.com/" rel="nofollow">国槐科技</a>
			</p>
			<p>© 2017 Shanghai Wanse Investment management co.,Ltd. All Rights Reserved 版权所有 上海顽色投资管理有限公司</p>
			<p class="bah">网站备案号：沪ICP备17003317号-1 市场有风险 投资需谨慎</p>
			<div class="safesite">
          <ul>
              <li class="li">
                  <a rel="nofollow" href="http://sfia.org.cn/h/n/user/toMemberList" target="_blank" >
                  </a>
              </li>
          	   <li class="li">
            		<a rel="nofollow" href="http://www.anquan.org" target="_blank">
            		</a>
              </li>
              <li class="li">
                  <a rel="nofollow" href="https://ss.knet.cn/verifyseal.dll?sn=e17021731011566665uwxi000000&a=1&pa=0.7881229510518536" target="_blank">
                  </a>
              </li>
            	<li class="li">
                  <a style="display: table;" rel="nofollow" href="http://webscan.360.cn/index/checkwebsite/url/www.zhangyuelicai.com">
                  </a>
              </li>
                 <li class="li">
                  <a style="display: table;" rel="nofollow" id="_pingansec_bottomimagelarge_p2p" href="http://si.trustutn.org/info?sn=947170609000585342922&certType=4">
                  </a>
              </li>
          </ul>
      </div>
		</div>
	</div>
    
</div>
</div>
	<div template-href='user-center'></div>
	<div template-href='custom-service'></div>
	
	<!--可信任网站-->
	<a class="none" key="58a549d0efbfb055af280649" logo_size="124x47" logo_type="business" id="anquanBox">
		<script type="text/javascript" src="//static.anquan.org/static/outer/js/aq_auth.js"></script>
	</a>
  </body>
</html>
